.my-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 80px;
  color: #F5F6F5;
  background-color: #061115;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  font-size: 40px;
  font-family: 'Delius', cursive;
  cursor: pointer;
}

.logo:hover {
  color: #EFDE9D;
}

.my-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
}

.navbar i {
  margin-right: 20px;
  position: relative;
  bottom: -3px;
  /* background-color: $beige; */
  padding: 6px;
  border-radius: 40px;
  color: #EFDE9D;
  margin-left: 10px;
  cursor: pointer;
}

.navbar i:hover {
  color: #EFDE9D;
}

.navbar input {
  padding-left: 10px;
  font-size: 16px;
  border-radius: 40px;
  outline: none;
  width: 30vw;
  border: none;
  display: none;
}

.navbar input:focus {
  outline: none;
}

.navbar button {
  font-size: 16px;
  background-color: #EFDE9D;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
}

.navbar button:active {
  background-color: #a4996b;
}

.my-account-dropdown {
  text-align: center;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #061115;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 4px #061115;
          box-shadow: 2px 2px 4px #061115;
}

.dropdown-list li {
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
}

.dropdown-list li:hover {
  color: #EFDE9D;
}

.dropdown-list ul {
  padding: 0px;
  padding-bottom: 15px;
  margin: auto;
  width: 160px;
}

.my-account-dropdown:hover .dropdown-button {
  color: #EFDE9D;
}

.my-account-dropdown:hover .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .my-navbar {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto;
  }
  .my-navbar input {
    width: 75vw;
  }
  .my-nav-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

.landing-right img {
  width: 500px;
  height: 500px;
}

.landing-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2rem;
}

.landing-left input {
  border: 2px solid #105578;
  border-radius: 60px;
  width: 40vw;
  padding-left: 10px;
  -webkit-box-shadow: 0px 0px 5px #061115;
          box-shadow: 0px 0px 5px #061115;
}

.landing-left input:focus {
  outline: none;
}

.landing-left .landing-search {
  margin-top: 30px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-left i {
  background-color: #105578;
  padding: 5px;
  color: #F5F6F5;
  border-radius: 50%;
  position: relative;
  left: 10px;
  bottom: -2px;
  cursor: pointer;
}

.landing-left .title {
  font-weight: 700;
  font-size: 60px;
}

.landing-left .subtitle {
  font-size: 30px;
  font-weight: 300;
}

.landing-left .text-emphasis {
  color: #105578;
  text-shadow: 1px 1px 2px #061115;
}

.landing-left .advanced-search {
  margin-top: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  left: -150px;
  cursor: pointer;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .landing-right {
    display: none;
  }
}

.listings-title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  color: #061115;
}

.listings .listings-item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 400px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 10px #061115;
          box-shadow: 0px 0px 10px #061115;
  margin: 20px;
}

.listings .listings-image {
  width: inherit;
  height: 50%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.listings .listings-image img {
  max-height: auto;
  max-width: 100%;
}

.listings .listings-info {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.listings .listings-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listings .specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listings .specs div {
  margin-bottom: 20px;
}

.listings .listings-make {
  font-weight: 700;
}

.listings .listings-model {
  font-weight: 500;
}

.listings .listings-footer {
  width: inherit;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.listings .listings-footer i {
  cursor: pointer;
  color: #105578;
}

.listings .listings-price {
  opacity: 90%;
  color: lightgray;
}

.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 75vh;
  width: 75vw;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px;
          box-shadow: 0px 0px 20px;
  border-radius: 40px;
  overflow: hidden;
  font-size: 100%;
}

.listing-image {
  width: 40%;
  height: 100%;
}

.listing-image img {
  width: 100%;
  height: 100%;
}

.listing-right {
  width: 60%;
  height: 100%;
  padding: 1rem;
}

.listing-right .listing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  height: 90%;
}

.listing-right .listing-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing-right .listing-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listing-right .listing-make {
  font-weight: 700;
}

.listing-right .listing-model {
  font-weight: 500;
}

.listing-right .listing-price {
  opacity: 90%;
  color: lightgray;
}

.listing-right .listing-specs div {
  margin-bottom: 2rem;
}

.listing-right .listing-footer {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing-right .listing-footer i {
  cursor: pointer;
  color: #105578;
}

@media (max-width: 1000px) {
  .listing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60vw;
  }
  .listing-image {
    width: 100%;
    height: 50%;
  }
  .listing-right {
    width: 100%;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 100vh;
  /* background: radial-gradient(81.88% 81.88% at 50% 50%, $beige 0%, $white 100%); */
  font-family: "Poppins", sans-serif;
}

main #post-ad-card {
  margin-top: 4vh;
  padding: 3w;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: #F5F6F5;
}

main #post-ad-card .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #post-ad-card .banner img {
  width: 300px;
}

main #post-ad-card h1 {
  margin: 3rem;
  opacity: 80%;
  font-weight: bolder;
  text-align: center;
}

main #post-ad-card .row {
  margin: 1rem;
}

main #post-ad-card .row h2 {
  margin-top: 2rem;
  opacity: 80%;
}

main #post-ad-card .row #price {
  max-width: 20rem;
}

main #post-ad-card .row #price #price-input {
  border-radius: 0 !important;
}

main #post-ad-card .row #price #right {
  border-radius: 0px 17px 17px 0px;
}

main #post-ad-card .row #price #left {
  border-radius: 17px 0px 0px 17px;
}

main #post-ad-card .row button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 6rem;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #105578;
  color: #F5F6F5;
  font-weight: bolder;
}

main #post-ad-card input,
main #post-ad-card select,
main #post-ad-card textarea {
  border-radius: 17px;
}

main #post-ad-card label {
  font-weight: bolder;
  opacity: 80%;
}

@media (max-width: 1000px) {
  main {
    display: flow-root;
  }
  .banner img {
    display: none;
  }
}

.hide {
  display: none;
}

main {
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.red {
  color: red !important;
}
/*# sourceMappingURL=main.css.map */