<nav class="navbar my-navbar sticky">
  <div class="my-nav-left">
    <div class="logo">
      <a href="/">
        <img id="getr-logo" src="/images/logo/logo.png">
      </a>
    </div>
  </div>
  <div class="my-nav-right">
    <% if(id) { %>
      <form id="nav-search-bar" method="POST" action="/search">
        <div class="input-group mb-3">
          <input name="input" class="form-control" type="search" placeholder="search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="my-account-dropdown">
        <div class="dropdown-button" id="my-account-btn">
          <a href="/account/<%=id%>"><i class="fas fa-user-circle"></i> My Profile</a>
        </div>
        <div class="dropdown-list">
          <ul>
            <li>
              <a href="/account">Favourites</a>
            </li>
            <li>
              <a href="/account">Listings</a>
            </li>
            <li id="post-ad-btn">
              <a href="/listings/new">Post Ad</a>
            </li>
            <li id="post-ad-btn">
              <form method="POST" action="/logout">
                <button type="submit" class="btn" style="color: white;font-size: 1.25rem; padding:0px">Log Out</button>
              </form>
            </li>
        </div>
        </ul>
      </div>
      <% } else { %>
        <form id="login-signup" class="form-inline" method="GET" action="/login">
          <button type="submit" class="btn btn-outline-danger"><i class="fas fa-sign-in-alt"></i> Register or Sign in </button>
        </form>
        <% }; %>
  </div>
</nav>
