<nav class="navbar my-navbar">
  <div class="my-nav-left">
    <div class="logo">
      GETr
    </div>
  </div>
  <div class="my-nav-right">
  <div class="search-icon">
    <i class="fas fa-search"></i>
  </div>
    <form>
      <input class="search-field" type="search" placeholder="search">
    </form>
    <div class="my-account-dropdown">
      <div class="dropdown-button" id="my-account-btn">
        My Account
      </div>
      <div class="dropdown-list">
        <ul>
          <li>
            My Faves
          </li>
          <li>
            My Listings
          </li>
          <li id="post-ad-btn">
            Post Ad
          </li>
      </div>
      </ul>
    </div>
  </div>
  </nav>
