<nav class="navbar my-navbar">
  <div class="my-nav-left">
    <div class="logo">
      <a href="/">
        <img id="getr-logo" src="/images/logo/logo.png">
      </a>
    </div>
  </div>
  <div class="my-nav-right">
    <div class="input-group mb-3">
      <input type="text" class="form-control" type="search" placeholder="search">
      <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
  </div>

    <div class="my-account-dropdown">
      <div class="dropdown-button" id="my-account-btn">
        <a href="/account">My Account</a>
      </div>
      <div class="dropdown-list">
        <ul>
          <li>
            <a href="/account">My Faves</a>
          </li>
          <li>
            <a href="/account">My Listings</a>
          </li>
          <li id="post-ad-btn">
            <a href="/new-listing">Post Ad</a>
          </li>
          <li id="post-ad-btn">
            Log Out
          </li>
      </div>
      </ul>
    </div>
  </div>
  </nav>
