<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include("partials/_head")  %>
  <title>GETr</title>
</head>

<body>
  <main class="main-container">
    <div id="register-background">
      <div id="register-card">
        <div class="logo">
          <img id="getr-logo" src="/images/logo/logo-bg-2.png">
        </div>
        <div class="info">
          <h1 id="register-title">Sign up to Getr</h1>
          <div class="credentials">
            <form id="register-form" method="POST" action="/register">
              <div class="form-group">
                <input id="reg-first-name" type="text" name="first_name" class="form-control" placeholder="First name" required />
              </div>
              <div class="form-group">
                <input id="reg-last-name" type="text" name="last_name" class="form-control" placeholder="Last name" required />
              </div>
              <div class="form-group">
                <input id="reg-email" type="email" name="email" class="form-control" placeholder="Email or username" required />
              </div>
              <div class="form-group">
                <input id="reg-password" type="password" name="password" class="form-control" placeholder="Password" required />
              </div>
              <button type="submit">SIGN UP <i class="fas fa-user-plus"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  </body>
</html>
