#status-body {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100vh;
  background: linear-gradient(180deg, $dark-blue 5%, $blue 100%);
  #status-page {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    color: $white;

    #status {
      margin-bottom: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #status-number {
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      #status-description {
        margin-bottom: 4rem;
      }
      #take-me-back {
        color: $white;
        font-weight: bolder;
      }
    }
  }
}
