#dashboard-card {
  display: flex;
  margin: 2vh;

  // This value should be calc navbar height margin-top
  max-width: 2000px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: $white;

  font-family: "Poppins", sans-serif;

  #dashboard-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    background: linear-gradient(180deg, $red 5%, $blue 100%);

    border-radius: 40px 0px 0px 40px;
    color: $white;
    a {
      text-decoration: none;
      color: $white;

    }
    a:visited {
      color: $white;
    }

    a:hover {
      color: $blue;
    }
    .user-profile {
      img {
        margin: 1rem;
        padding: 1rem;
        width: 10rem;
        border-radius: 50%;
      }
    }

    .links {
      transition: all 0.7s ease;

      max-width: 80%;
      .link {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 2rem 0rem;
        padding: 1rem;

        border-radius: 40px;
        button {
          border-radius: 40px;
          height: 2.5rem;
          width: 10rem;
          background: $red;
          font-weight: bolder;
          color: $white;
          font-size: 1rem;
          border: none;
          margin: -5px;
          padding: 0.2rem;
          stroke: black;
          outline: none;
          &:hover {
            cursor: pointer;
            filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
          }
          &:active {
            filter: none;
            transform: scale(0.98);
          }
        }
      }
    }
  }
  #dashboard-lists {
    a {
      text-decoration: none;
      color: $blue;

    }
    a:visited {
      color: $blue;
    }

    a:hover {
      color: $red;
    }
    flex: 2;
    background-image: url("/images/bg-textures/natural-paper.png");
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    #message-for-empty{
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
        margin-top: 1rem;
        font-family: $secondary;
        i{
          color: $red;
        }
      }
    }
    .listings {
      justify-content: center;
    }
  }
}

@media (max-width: $breakpoint) {
  #dashboard-card {
    flex-direction: column;

    #dashboard-profile {
      border-radius: 40px 40px 0px 0px;
      .links {
        display: flex;
        .link {
          flex-direction: row;
        }
      }
    }
  }
  #dashboard-lists {
    flex-direction: column;
  }
}

@media (max-width: $breakpoint2) {
  #dashboard-card {
    flex-direction: column;
    margin: 1.2vh;

    #dashboard-profile {
      border-radius: 40px 40px 0px 0px;
      .links {
        display: flex;
        flex-direction: column;
        .link {
          margin: 0.5rem 0rem;
          padding: 0.5rem;
        }
      }
    }
    #dashboard-lists {
      flex-direction: column;
    }
  }
}

.sold-delete {
  button {
    border-radius: 40px;
    height: 1.5rem;
    width: 5rem;
    background: $red;
    font-weight: bolder;
    color: $white;
    font-size: .60rem;
    border: none;
    padding: 0.2rem;
    stroke: black;
    outline: none;
    &:hover {
      cursor: pointer;
      filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
      color: $white;
    }
    &:active {
      filter: none;
      transform: scale(0.98);
    }
  }
}
