#dashboard-card {
  display: flex;
  margin: 2vh;

  // This value should be calc navbar height margin-top
  max-width: 2000px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: $white;

  font-family: "Poppins", sans-serif;

  #dashboard-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    background: linear-gradient(180deg, $red 5%, $blue 100%);

    border-radius: 40px 0px 0px 40px;
    color: $white;
    .user-profile {
      img {
        margin: 1rem;
        padding: 1rem;
        width: 10rem;
        border-radius: 50%;
      }
    }

    .links {
      transition: all 0.7s ease;

      max-width: 80%;
      .link {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 2rem 0rem;
        padding: 1rem;

        border-radius: 40px;
        :hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
        }

        .btn {
          background-color: $red;
          border-radius: 40px;
          color: $white;
        }
      }
    }
  }
  #dashboard-lists {
    flex: 2;
    // padding: 0.5rem;
    .listings {
      justify-content: center;
    }
  }
}

@media (max-width: $breakpoint) {
  #dashboard-card {
    flex-direction: column;


    #dashboard-profile {
      border-radius: 40px 40px 0px 0px;
      .links {
        display: flex;
        .link {
          flex-direction: row;

        }
      }
    }
  }
}

@media (max-width: $breakpoint2) {
  #dashboard-card {
    flex-direction: column;
    margin: 1.2vh;

    #dashboard-profile {
      border-radius: 40px 40px 0px 0px;
      .links {
        display: flex;
        flex-direction: column;
        .link {
          margin: 0.5rem 0rem;
          padding: 0.5rem;        }
      }
    }
  }
}
