.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $main;
}

.landing-right {
  img {
    width: 500px;
    height: 500px
  }
}

.landing-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
}

.landing-left {
  input {
    border: 2px solid $blue;
    border-radius: 60px;
    width: 400px;
    padding-left: 10px;
    box-shadow: 0px 0px 5px $dark-blue;
  }
  input:focus {
    outline: none;
  }
  .landing-search {
    margin-top: 30px;
    width: inherit;
    display: flex;
    justify-content: center;
  }
  i {
    position: relative;
    left: -30px;
    bottom: -4px;
    cursor: pointer;
  }
  .title {
    font-weight: 700;
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
    font-weight: 300;
  }
  .text-emphasis {
    color: $blue;
    text-shadow: 1px 1px 2px $dark-blue;
  }

  .advanced-search {
    margin-top: 10px;
    align-self: flex-end;
    position: relative;
    left: -150px;
    cursor: pointer;
    font-size: 12px;
  }
}
