.landing {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $main;
}

.landing-right {
  img {
    width: 500px;
    height: 500px
  }
}

.landing-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
}

.landing-left {
  input {
    border: 2px solid $blue;
    border-radius: 60px;
    width: 40vw;
    padding-left: 10px;
    box-shadow: 0px 0px 5px $dark-blue;
  }
  input:focus {
    outline: none;
  }
  .landing-search {
    margin-top: 30px;
    width: inherit;
    display: flex;
    justify-content: center;
  }
  i {
    background-color: $blue;
    padding: 5px;
    color: $white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    bottom: -2px;
    cursor: pointer;
  }
  .title {
    font-weight: 700;
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
    font-weight: 300;
  }
  .text-emphasis {
    color: $blue;
    text-shadow: 1px 1px 2px $dark-blue;
  }

  .advanced-search {
    margin-top: 10px;
    align-self: flex-end;
    position: relative;
   /*  left: -150px; */
    cursor: pointer;
    font-size: 12px;
  }
  .search-options {
    margin-top: 10px;
    display: flex;
    position: relative;
    left: 40px;
    width: 40vw;
    justify-content: space-between;
  }

  .advanced-search {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .btn {
    background-color: $blue;
    color: $white;
  }

  .btn:hover {
    color: $yellow;
  }
}

@media (max-width: $breakpoint) {
  .landing-right {
    display: none;
  }
}


