.listings-title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: $main;
  color: $dark-blue;

  .listings-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px $dark-blue;
    margin: 20px;
  }

  .listings-image {
    width: inherit;
    height: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    img {
      max-height: auto;
      max-width: 100%;
    }
  }

  .listings-info {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .listings-mid {
    display: flex;
    justify-content: space-between;
  }

  .specs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      margin-bottom: 20px;
    }
  }

  .listings-make {
    font-weight: 700;
  }

  .listings-model {
    font-weight: 500;
  }

  .listings-footer {
    width: inherit;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    i {
      cursor: pointer;
      color: $blue;
    }
  }

  .listings-price {
    opacity: 90%;
    color: lightgray;
  }
}








