.listings-title {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: $red;
  #filter-button-group {
    button {
      border-radius: 40px;
      height: 2.5rem;
      width: 8rem;
      background: $red;
      font-weight: bolder;
      color: $white;
      font-size: 1rem;
      border: none;
      margin: -5px;
      padding: 0.2rem;
      stroke: black;
      outline: none;
      &:hover {
        cursor: pointer;
        filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
      }
      &:active {
        filter: none;
        transform: scale(0.98);
      }
    }
  }

  li {
    height: 16rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    #price-range {
      padding: 1rem;
      .form-group {
        margin-bottom: 1rem;
      }
    }
  }
}

.listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: $main;
  color: $dark-blue;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
    color: $blue;
  }
  a:visited {
    color: $blue;
  }

  a:hover {
    color: $red;
  }
}

.listings-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px $dark-blue;
  margin: 20px;
}

.listings-image {
  width: inherit;
  height: 180px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 2px solid black;
  img {
    max-height: auto;
    max-width: 100%;
  }
  #no-image-vector {
    max-height: auto;
    max-width: 90%;
  }
}

.listings-info {
  margin: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 200px;
  height: 176px;
}

.listings-mid {
  display: flex;
  justify-content: space-between;
}

.specs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  div {
    margin-bottom: 20px;
  }
}

.listings-make {
  font-weight: 700;
}

.listings-model {
  font-weight: 500;
}

.listings-footer {
  width: inherit;
  display: flex;
  justify-content: space-around;
  padding-top: .75rem;
  margin-bottom: 20px;
  i {
    cursor: pointer;
    color: $blue;
  }
}

.listings-price {
  opacity: 90%;
  color: lightgray;
}
