#contact-seller-form {
  display: none;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  max-width: 2000px;
  // This value should be calc navbar height margin-top
  margin: 10vh;
  padding: 3w;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  background-color: #f5f6f5;
  background-image: url("/images/bg-textures/natural-paper.png");
  border-radius: 40px;
}

.listing {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 75vw;
  margin: auto;
  box-shadow: 0px 0px 20px;
  margin-top: 7vh;
  border-radius: 40px;
  overflow: hidden;
  font-size: 100%;

  .listing-image {
    flex: 1.5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .listing-right {
    flex: 2;
    padding: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;

    .listing-info {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 90%;

      .listing-mid {
        display: flex;
        justify-content: space-between;
        .listing-specs {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          #listing-brand {
            font-size: 300%;
            font-weight: 700;
          }
          #listing-model {
            font-size: 200%;
            font-weight: 500;
          }
        }
        #listing-price {
          font-size: 170%;
          opacity: 80%;
          color: $dark-blue;
        }
      }
      #listing-description {
        margin-top: 2vh;
        margin-bottom: 5vh;
        font-size: 150%;
      }
    }
    .listing-footer {
      width: 100%;
      padding-left: 4rem;
      padding-right: 4rem;
      display: flex;
      justify-content: center;
      filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.3));
      #fave-listing {
        border-radius: 20px 0 0 20px;
      }
      #contact-seller {
        border-radius: 0 20px 20px 0;
      }
      button {
        height: 2.5rem;
        width: 11rem;
        background: $red;
        font-weight: bolder;
        color: $white;
        font-size: 1rem;
        border: none;
        margin: -5px;
        padding: 0.2rem;
        stroke: black;
        outline: none;
        &:hover{
          cursor: pointer;
          filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
        }
        &:active{
          filter: none;
          transform: scale(.98);
        }
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .listing {
    flex-direction: column;
    width: 90vw;
    height: auto;
    min-height: 1700px;
    margin-top: 1vh;
    .listing-image {
      width: 100%;
      height: 50%;
    }
    .listing-right {
      width: 100%;
      .listing-info {
        .listing-mid {
          .listing-specs {
            #listing-brand {
              font-size: 600%;
            }
            #listing-model {
              font-size: 400%;
            }
          }
          #listing-price {
            font-size: 300%;
          }
        }
        #listing-description {
          font-size: 300%;
          margin-bottom: 2vh;
        }
      }
      .listing-footer {
        margin-top: 0.5vh;
        justify-content: center;
        #fave-listing {
          border-radius: 60px 0 0 60px;
        }
        #contact-seller {
          border-radius: 0 60px 60px 0;
        }
        button {
          height: 7rem;
          width: 25rem;
          background: $red;
          font-weight: bolder;
          color: $white;
          font-size: 2.2rem;
          border: none;
          margin-bottom: 2vh;
          padding: 0.2rem;
          stroke: black;
          outline: none;
          &:hover{
            cursor: pointer;
            filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.25));
          }
          &:active{
            filter: none;
            transform: scale(.95);
          }
        }      }
    }
  }
}
