.listing {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 75vw;
  margin: auto;
  box-shadow: 0px 0px 20px;
  border-radius: 40px;
  overflow: hidden;
  font-size: 100%;
}

.listing-image {
  width: 40%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}


.listing-right {
  width: 60%;
  height: 100%;
  padding: 1rem;
  .listing-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 90%;
  }
  .listing-mid {
    display: flex;
    justify-content: space-between;
  }
  .listing-specs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .listing-make {
    font-weight: 700;
  }

  .listing-model {
    font-weight: 500;
  }
  .listing-price {
    opacity: 90%;
    color: lightgray;
  }
  .listing-specs {
    div {
      margin-bottom: 2rem;
    }
  }
  .listing-footer {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
  }
  .listing-footer {
    i {
      cursor: pointer;
      color: $blue;
    }
  }
}


@media (max-width: $breakpoint) {
  .listing {
    flex-direction: column;
    width: 60vw;
  }
  .listing-image {
    width: 100%;
    height: 50%;
  }
  .listing-right {
    width: 100%;
  }
}
