#contact-seller-form {
  display: none;
}

.listing {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 75vw;
  margin: auto;
  box-shadow: 0px 0px 20px;
  margin-top: 7vh;
  border-radius: 40px;
  overflow: hidden;
  font-size: 100%;

  .listing-image {
    flex: 1.5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .listing-right {
    flex: 2;
    padding: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;

    .listing-info {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 90%;

      .listing-mid {
        display: flex;
        justify-content: space-between;
        .listing-specs {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          #listing-brand {
            font-size: 300%;
            font-weight: 700;
          }
          #listing-model {
            font-size: 200%;
            font-weight: 500;
          }
        }
        #listing-price {
          font-size: 170%;
          opacity: 80%;
          color: $dark-blue;
        }
      }
      #listing-description {
        margin-top: 2vh;
        margin-bottom: 5vh;
        font-size: 150%;
      }
    }
    .listing-footer {
      width: 100%;
      padding-left: 4rem;
      padding-right: 4rem;
      display: flex;
      justify-content: flex-end;
      a {
        margin-right: 5vw;
        i {
          cursor: pointer;
          font-size: 150%;
          color: $red;
        }
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .listing {
    flex-direction: column;
    width: 90vw;
    height: auto;
    min-height: 1700px;
    margin-top: 1vh;
    .listing-image {
      width: 100%;
      height: 50%;
    }
    .listing-right {
      width: 100%;
      .listing-info {
        .listing-mid {
          .listing-specs {
            #listing-brand {
              font-size: 600%;
            }
            #listing-model {
              font-size: 400%;
            }
          }
          #listing-price {
            font-size: 300%;
          }
        }
        #listing-description {
          font-size: 300%;
          margin-bottom: 2vh;
        }
      }
      .listing-footer {
        margin-top: 0.5vh;
        justify-content: space-evenly;
        a {
          margin-right: none;
          i {
            cursor: pointer;
            font-size: 400%;
            color: $red;
          }
        }
      }
    }
  }
}
