.my-navbar {
  width: 100%;
  height: 100px;
  padding: 1rem;

  display: flex;
  flex-direction: row;

  color: $white;
  font-weight: bolder;
  background-color: #21626d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);

  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $red;
  }

  .my-nav-left {
    .logo {
      cursor: pointer;
      img {
        height: auto;
        width: auto;
        max-height: 5rem;
        max-width: 10rem;
      }
    }
  }

  .my-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-family: $main;
    #nav-search-bar {
      padding-right: 0.5rem;
      .input-group {
        margin: 1rem;
        border-radius: 17px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
        .form-control {
          border: none;
          border-radius: 17px 0px 0px 17px;
        }

        .btn-primary {
          border: 1px solid $red;
          background-color: $red;
          border-radius: 0px 17px 17px 0px;
          .fas {
            color: $white;
          }
        }
      }
    }
    #login-signup {
      .btn {
        font-weight: bolder;
        border: none;
        border-radius: 17px;
        color: $white;
      }
    }
    .my-account-dropdown {
      text-align: center;
      overflow: hidden;
      width: 15rem;
      cursor: pointer;
    }
  }
}

.dropdown-list {
  display: none;
  position: absolute;
  font-weight: lighter;
  background: $blue;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-list {
  li {
    text-align: center;
    list-style-type: none;
    margin-top: 25px;
  }

  li:hover {
    color: $yellow;
  }

  ul {
    padding: 0px;
    padding-bottom: 15px;
    margin: auto;
    width: 160px;
  }
}

.my-account-dropdown:hover {
  .dropdown-button {
    color: $yellow;
  }
  .dropdown-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
  }
}

@media (max-width: $breakpoint) {
  .my-navbar {
    flex-direction: column;
    height: auto;
    input {
      width: 75vw;
    }
  }
  .my-nav-right {
    flex-direction: column;
  }
}
