.my-navbar {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100px;
  padding: 1rem;

  color: $white;
  font-weight: bolder;
  background-color: $blue;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);

  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $yellow;
  }

  .my-nav-left {
    .logo {
      cursor: pointer;
      img {
        height: auto;
        width: auto;
        max-height: 5rem;
        max-width: 10rem;
      }
    }
  }

  .my-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-family: $main;
    .input-group{
      margin: 1rem;
      border-radius: 17px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

      .btn-primary {
        border: 1px solid $red;
        background-color: $red;
        border-radius: 0px 17px 17px 0px;
        .fas {
          color: $white;
        }
    }
    }
  }
}



.my-account-dropdown {
  text-align: center;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  background: $blue;
  z-index: 1;
  box-shadow: 0px 5px 4px $blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-list {
  li {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }

  li:hover {
    color: $yellow;
  }

  ul {
    padding: 0px;
    padding-bottom: 15px;
    margin: auto;
    width: 160px;
  }
}

.my-account-dropdown:hover {
  .dropdown-button {
    color: $yellow;
  }
  .dropdown-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: $breakpoint) {
  .my-navbar {
    flex-direction: column;
    height: auto;
    input {
      width: 75vw;
    }
  }
  .my-nav-right {
    flex-direction: column;
  }
}
