.my-navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100px;
  color: $white;
  background: $blue;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $yellow;
  }
}

.logo {
  font-size: 40px;
  font-family: 'Delius', cursive;
  cursor: pointer;
}

.logo:hover {
  color: #F9BA32;
}

.my-nav-left {
  display: flex;
  align-items: center;
}

.my-nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  font-family: $main;
}

.my-navbar {
  i {
    margin-right: 20px;
    position: relative;
    bottom: -3px;
    padding: 6px;
    border-radius: 40px;
    color: $yellow;
    margin-left: 10px;
    cursor: pointer;
  }
  i:hover {
    color: $yellow;
  }
  input {
    padding-left: 10px;
    font-size: 16px;
    border-radius: 40px;
    outline: none;
    width: 30vw;
    border: none;
  }
  input:focus {
    outline: none;
  }
  button {
    font-size: 16px;
    background-color: $yellow;
    font-family: $main;
    border: none;
    border-radius: 5px;
  }
  button:active {
    background-color: #a4996b;
  }
}

.my-account-dropdown {
  text-align: center;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}


.dropdown-list {
  display: none;
  position: absolute;
  background: $blue;
  z-index: 1;
  box-shadow: 0px 5px 4px $blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-list {
  li {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }

  li:hover {
    color: $yellow;
  }

  ul {
    padding: 0px;
    padding-bottom: 15px;
    margin: auto;
    width: 160px;
  }
}

.my-account-dropdown:hover {
  .dropdown-button {
    color: $yellow;
  }
  .dropdown-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: $breakpoint) {
  .my-navbar {
    flex-direction: column !important;
    height: auto;
    input {
      width: 75vw;
    }
  }
  .my-nav-right {
    flex-direction: column;
  }
}
