.my-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  color: $white;
  background-color: $dark-blue;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  font-size: 40px;
  font-family: 'Delius', cursive;
  cursor: pointer;
}

.logo:hover {
  color: $beige;
}

.my-nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-family: $main;
}

.navbar {
  i {
    margin-right: 20px;
    position: relative;
    bottom: -3px;
    /* background-color: $beige; */
    padding: 6px;
    border-radius: 40px;
    color: $beige;
    margin-left: 10px;
    cursor: pointer;
  }
  i:hover {
    color: $beige;
  }
  input {
    padding-left: 10px;
    font-size: 16px;
    border-radius: 40px;
    outline: none;
    width: 300px;
    border: none;
    display: none;
  }
  input:focus {
    outline: none;
  }
  button {
    font-size: 16px;
    background-color: $beige;
    font-family: $main;
    border: none;
    border-radius: 5px;
  }
  button:active {
    background-color: #a4996b;
  }
}

.my-account-dropdown {
  text-align: center;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
}


.dropdown-list {
  display: none;
  position: absolute;
  background-color: $dark-blue;
  z-index: 1;
  box-shadow: 2px 2px 4px $dark-blue;
}

.dropdown-list {
  li {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }

  li:hover {
    color: $beige;
  }

  ul {
    padding: 0px;
    padding-bottom: 15px;
    margin: auto;
    width: 160px;
  }
}

.my-account-dropdown:hover {
  .dropdown-button {
    color: $beige;
  }
  .dropdown-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: $breakpoint) {
  .my-navbar {
    flex-direction: column !important;
    height: auto;
  }
  .my-nav-right {
    flex-direction: column;
  }
}
