#login-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient($blue, $dark-blue);

  #login-card {
    height: 80vh;
    max-height: 800px;
    width: 80%;
    max-width: 25rem;
    border-radius: 30px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background-color: $white;
    .logo {
      margin-top: 2rem;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      .circle {
        width: 10rem;
        height: 10rem;
        background: linear-gradient(to right, $red, $yellow);
        border-radius: 50%;
        position: absolute;
        z-index: 1;
      }
      #getr-logo {
        z-index: 2;
      }
    }
    .info {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;
      #login-title {
        flex: 1;
      }
      .credentials {
        flex: 2;
        padding: 1rem;
        #login-form {
          display: flex;
          flex-direction: column;
          input {
            margin-bottom: 2rem;
            padding: 0.5rem 1rem;
            border: none;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2),
              0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2),
              0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
          }
          .login {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              width: 100%;
              padding: 0.7rem 0rem;
              background-color: $red;
              border: none;
              font-weight: bold;
              color: $white;
              cursor: pointer;
              border-radius: 30px;
              font-weight: bolder;
            }
          }

          .loginSignUpSeparator {
            font-size: 0.9rem;
            border-top: 1px solid $gray;
            position: relative;
            margin: 2rem 0 0;
            text-align: center;
          }

          .loginSignUpSeparator .textInSeparator {
            margin-top: 0.5rem;
            background-color: $white;
            padding: 0 0.5em;
            position: inherit;
            color: #585858;
            top: -0.7em;
          }
        }
        .signup {
          margin-top: 0.7rem;
          button {
            width: 100%;
            padding: 0.7rem 0rem;
            background-color: #b7babb;
            border: none;
            font-weight: bold;
            color: #343a35;
            cursor: pointer;
            border-radius: 30px;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint) {
  #login-background {
    #login-card {
      width: 90vw;
      padding: 1rem;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2);
      background-color: $white;
      .logo {
        margin-top: 3rem;

        .circle {
          width: 130px;
          height: 130px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint4) {
  #login-background {
    #login-card {
      width: 90vw;
      padding: 1rem;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2);
      background-color: $white;
      .logo {
        margin-top: 1rem;
        .circle {
          width: 80px;
          height: 80px;
        }
        #getr-logo {
          transform: scale(0.5);
        }
      }
      .info {
        .credentials {
          #login-form {
            input {
              padding: 0.3rem;
              margin-bottom: 1rem;
            }
            .loginSignUpSeparator {
              margin-top: 1rem;
            }
            .signup {
              margin: none;
            }
          }
        }
      }
    }
  }
}

@media (max-height: $breakpoint3) {
  #login-background {
    #login-card {
      height: 90vh;

    }
  }
}
