$dark-blue: #061115;
$blue: #105578;
$green: #78ADAA;
$white: #F5F6F5;
$beige: #EFDE9D;
$brown: #914B1B;
$logo: 'Delius', cursive;
$main:  'Poppins', sans-serif;
$breakpoint: 1100px;
$breakpoint2: 780px;

@import "_navbar.scss";
@import "_landing.scss";
@import "_listings.scss";
@import "_listing.scss";

@import "_post_ad.scss";
@import "_my_account.scss";
@import "404.scss";

.hide {
  display: none;
}

.main-container {
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 10vh;
}

.red {
  color: red !important;
}

.dim {
  opacity: 50%;
}

