$dark-blue: #061115;
$blue: #105578;
$green: #78ADAA;
$white: #F5F6F5;
$beige: #EFDE9D;
$brown: #914B1B;
$red: #DC4D3E;
$yellow: #F9BA32;
$gray: #CBD2D6;
$logo: 'Delius', cursive;
$main:  'Poppins', sans-serif;
$breakpoint: 1100px;
$breakpoint2: 780px;
$breakpoint3: 500px;
$breakpoint4: 370px;

@import "login.scss";
@import "register.scss";

@import "_navbar.scss";
@import "_landing.scss";
@import "_listings.scss";
@import "_listing.scss";

@import "_post_ad.scss";
@import "_my_account.scss";
@import "404.scss";

.hide {
  display: none;
}

.main-container {
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 4vh;
}

.red {
  color: red !important;
}

.dim {
  opacity: 50%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

