$dark-blue: #061115;
$blue: #105578;
$green: #78ADAA;
$white: #F5F6F5;
$beige: #EFDE9D;
$brown: #914B1B;
$logo: 'Delius', cursive;
$main:  'Poppins', sans-serif;
$breakpoint: 1000px;

@import "_navbar.scss";
@import "_landing.scss";
@import "_listings.scss";
@import "_listing.scss";
@import "_post_ad.scss";
@import "_my_account.scss";

.hide {
  display: none;
}

main {
  width: 90vw;
  height: 90vh;
  margin: auto;
}




