<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("partials/_head")%>

  <!-- Status Title -->
  <title>404 - Not Found</title>
</head>
<body>
  <div id="status-body">
    <div class="container" id="status-page">
      <div id="status">
        <h1 id="status-number">
          404
        </h1>
        <h3 id="status-description">
          Not Found
        </h3>
        <!-- the link will be modified for the routes -->
        <a id="take-me-back" href="../index.html">Take me back..</a>
      </div>
      <!-- Can insert different SVG for a different status -->
      <img src="/public/images/svg/undraw_blank_canvas_3rbb.svg" style="width: 100%; height: auto;">
    </div>

  </div>

</body>

</html>
